# IntelliJ IDEA
.idea/
*.iml
*.iws
out/
.idea_modules/

# Build output
/build/
*/build/

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
gradle-app.setting

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# User-specific files
*.swp
*.swo
*~

.gradle/buildOutputCleanup/cache.properties
.gradle
